/* Resetting default styles and setting a common font family */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

/* Styling for the header section */
header {
    background-color: #C10206;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the toggle button in the header */
#toggleBtn {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* Styling for the navigation bar */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for buttons within the navigation bar */
nav button {
    margin: 0 10px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #C10206;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Styling for the employee information section */
#employeeInfo {
    margin: 20px;
    text-align: center;
    background-color: #DFE2DB;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Styling for the like counter */
#likeCounter {
    font-size: 24px;
    margin: 10px 0;
    display: inline-block;
}

/* Styling for buttons and tabs in the rate us section and employee tabs */
#rateUsButtons,
#employeeTabs {
    display: none;
    margin-top: 20px;
}

#rateUsButtons button,
#employeeTabs button {
    margin: 0 10px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Styling for employee images in tabs */
#employeeTabs img {
    max-width: 100%;
    border-radius: 50%;
}

/* Styling for the footer section */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for dropdown menu */
.dropdown {
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #C10206;
    color: white;
    border: none;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C10206;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    background-color: #C10206;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #A50113;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #C10206;
}

/* Styling for employee images */
#employeeImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
